//=====顏色部分=====
$primary:#3b3838;   //首頁按鈕                59, 56, 56
$secondary:#f2f2f2; //Navbar,Footer         242, 242, 242

$title1:#767171;    //議程大區塊(一般字體顏色)  118, 113, 113
$title2:#a6a6a6;    //議程中區塊              166, 166, 166
$title3:#d0cece;    //議程小區塊              208, 206, 206
$notes: #afabab;    //備註字體顏色            175, 171, 171
//=====字的部分=====
$text_l:  40px;   //ppt裡的大標     24
$text_lm: 34px;   //ppt裡的        20
$text_m:  30px;   //ppt裡的中標     18
$text_ms: 26px;   //ppt裡的        16
$text_s:  24px;   //ppt裡的小標     14
$text  :  17px;   //ppt裡10.5大小字體就當17px
