// @import '~bootstrap/scss/bootstrap-grid';
// 通用的css
*{
  box-sizing: border-box;
  font-family: '微軟正黑體', Helvetica, Arial, sans-serif;
}

body{
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1{
  font-size: $text_l; //ppt24
  font-weight: 700;
}
h2{
  font-size: 34px;    //ppt20
  font-weight: 700;
}
h3{
  font-size: $text_m; //ppt18
  font-weight: 700;
}

p{
  font-size: $text;
  color: $title1;
}

.window{
  position: fixed;
  z-index: 400;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #f2f2f2dd;
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder{
  color: $notes;
}